
body{
    height: 100%;
    background: #e5e5e5;
    font-family: 'Open Sans Condensed', sans-serif;
}
ul{
    list-style: none;
}
span{
    color: aliceblue;
    font-size: 1.5em;
}
header{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #000;
}
section#intro{
    text-align: center;
    background-image: url(https://images.unsplash.com/19/desktop.JPG?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
    background-size: cover;
    background-repeat: no-repeat;

}
header ul{
    list-style: none;
    margin-top: 40px;
}
header ul li{
    font-size: 1.13em;
    display: inline-block;
    margin: 10px;
    color: aliceblue;
}
header  ul li a{
    color: green;
    text-decoration: none;
}
footer{
    height: auto;
    text-align: center;
    color: #fff;
    background: #263238;
    margin-bottom: 0;
}
/*look back at it*/
/*header ul>li:nth-child(1){
    color: #fff;

}
header ul >li:nth-child(2){

}*/
header img{
    margin-top:10%;
}


/*---------------------------------------------/
                    CLASSES STYLES
/--------------------------------------------*/

section.first {
    text-align: center;
	background: #fff;

}
.row.hero {
	padding-top: 10%;
    padding-bottom: 21.5%;
}
/*.row.hero ,#txt p{
    color: aliceblue;
    font-size: 1.5em;
}*/
.row.works {
	padding: 10% 0;
    padding-top: 5%;
}
.row.works span{
    color: #000;
}
.row.works p{
    font-size: 1.3em;
}
.row.foot{
    padding: 3% 0;
    font-weight: 100;

}
.btn.mdm {
    border: 1px solid green;
    border-radius: 3px;
    font-size: 1.8em;
    font-weight: 500;
    color: #fff;
    margin-top: 10%;
    padding: .8% 5%;
    background: green;
    transition: all .4s ease;

}
.btn.mdm.sqr{
    border-radius: 0px;

}
.btn.mdm.sec{
    margin-top: 5%;
}

.btn.mdm:hover{
    background: #fff;
    border-color: #000;
    color: #000;

}
.first ul{
    list-style: none;
}
.first ul li{
    padding: 0 30px;
    display: inline-block;
    margin:5% 6%;
}
ul.info {
	list-style: none;
}
.info li{
    padding: 1% 0;
}
ul.connect{
    list-style: none;
}
.connect li{
    padding: 1% 0;
}
ul.social{
    list-style: none;
}
.social li{

    display: inline-block;
    padding: 0.5% 2%;
}
.port {
	text-align: center;

    padding: 50px;
    margin: 5px 0px;

}
.port ul{
    list-style: none;
    margin: 20px;
}
.btn.view {
    border: 1px solid grey;
	padding: 15px ;
    color: green;
}
.bio {
	margin-bottom: 30px;
}

.post {
    padding-top: 10px;
	height: 50px;
    background: #263238 ;
}
.post a:hover{

}
a.btn.postjob {

	color: #fff;
}
a.btn.postjob:hover{
    color: greenyellow;
}
.reg{
    text-align: center;
}
/*---------------------------------------------/
                    ID STYLES
/--------------------------------------------*/
#intro, p {
    display: block;
    font-size: 2em;
    padding-top: 2%;
}
#txt {
	color: aliceblue;
}


