body{
    height: 100%;
}
header{
    height: 10vh;
    background: #2C3E50
}
section{
    height: 90vh;
    background: #34495E
}
ul{
    list-style: none;

}
ul li{
    display: inline-block;
    margin: 10px;
}
section.first{
    height: 100vh;
    background: #2980b9;
}
